################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BusinessCardCreator/bin/Release/netcoreapp2.1
/BusinessCardCreator/bin/Debug/netcoreapp2.1
/BusinessCardCreator/obj
/BusinessCardCreator.sln
/BusinessCardCreator/appsettings.Development.json
